html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#game-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px max-cont;
    grid-template-areas: "canvas" "controls" "gauge";
}
.canvasArea{
    margin: 5em auto;
}
#gameC {
    border: 5px solid aliceblue;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    background: rgb(42,54,207);
    background: linear-gradient(180deg, rgba(42,54,207,1) 35%, rgba(54,165,185,1) 50%, rgba(199,139,82,1) 69%, rgba(68,48,48,1) 86%);
}
#chargeMeter{
    width: 600px;
    height: 50px;
    background-color: green;
    grid-area: "gauge";
}

